<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="scss/stylesheet.css">
    <title>GetQuote</title>
</head>
<body>
    <div class="container">
        <form action="">
        <div class="row">
            <div class="col">
                <h3 class="title">Get Quote</h3>
                
                <div class="inputbox">
                    <span>Full Name:</span>
                    <input type="text" placeholder="john smith">
                </div>
                <div class="inputbox">
                    <span>Email:</span>
                    <input type="email" placeholder="john@example.com">
                </div>
                <div class="inputbox">
                    <span>Address:</span>
                    <input type="text" placeholder="room - street - locality">
                </div>
                <div class="inputbox">
                    <span>City:</span>
                    <input type="text" placeholder="mumbai">
                </div>
                <div class="flex">
                    <div class="inputbox">
                        <span>State:</span>
                        <input type="text" placeholder="india">
                    </div>
                </div>
                <div class="inputbox">
                    <span>Zip Code:</span>
                    <input type="text" placeholder="400706">
                </div>
                 

            </div>

            <div class="col">
                <h3 class="title">Payment</h3>
                
                <div class="inputbox">
                    <span>Name on Card:</span>
                    <input type="text" placeholder="john smith">
                </div>
                <div class="inputbox">
                    <span>Cards Accepted:</span>
                    <img src="img/credit-cards.png" alt="cards accepted" width="200" height="50">
                </div>
                <div class="inputbox">
                    <span>Credit Card Number:</span>
                    <input type="number" placeholder="1111 - 2222 - 3333">
                </div>
                <div class="inputbox">
                    <span>Exp Month:</span>
                    <input type="month" placeholder="january">
                </div>
                <div class="flex">
                    <div class="inputbox">
                        <span>Exp Year:</span>
                        <input type="number" placeholder="2024">
                    </div>
                </div>
                <div class="inputbox">
                    <span>CVV:</span>
                    <input type="text" placeholder="123">
                </div>
                 

            </div>

        </div>

        <input type="submit" value="Confirm Booking" class="submit-btn">



    </form>
    </div>
</body>
</html>